* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calod_cards {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1621;
}


.calod_gifs {
    width: 100%;
    height: 250px;
}

.gif {
    width: 100%;
    height: 100%;
}

.btns {
    width: 200px;
    padding: 10px 0;
    background: #182533;
    color: white;
    border: none;
}

.btns:hover {
    transition: 0.2s all ease; 
    padding: 13px 0;
}